extends base.pug

block content 
    h4 Update video
    form(method="POST")
        input(name="title",value = video.title, placeholder="Video Title", required)
        input(name="description",value=video.description, placeholder="Description", required, type="text", maxlength=80)
        input(name="hashtags",value=video.hashtags.join(),placeholder="Hashtags, separated by comma", required, type="text")
        input(value="Save",type="submit")