extends base
include mixins/video

block content 
    form(method="GET")
        input(name = "keyword",Placeholder="Search by title", type = "text")
        input(type="submit", value="search")

    each video in videos 
        +video(video)